# Defines your services: your FastAPI application and your SQL database.

version: '3.9'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/fastapidb

  db:
    image: postgres:16-alpine
    environment:
      POSTGRESS_DB: fastapi_db
      POSTGRESS_USER: user
      POSTGRESS_PASSWORD: password  
    volumes:
      - db_data:/var/lib/postgresql/data
  
volumes:
  db_data: